@charset "utf-8";
*, *:before, *:after {
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto;
    font-weight: 400;
    background-color:#fff;
}
.btn {
    width:166px;
    padding: 25px 13px;
    background-color: #18cfab;
    color:#fff;
    border: none;
    border-top: 4px solid #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
}
.section-title {
    font-size: 36px;
    text-align: center;
    color: #4e4e4e;
}
.section-title:after {
    content: '';
    display: block;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
    width:75px;
    height: 4px;
    transform: skewX(70deg);
    text-align: center;
    margin: 37px auto 0;
}
.wrapper {
    min-width: 1200px;
    width: 100%;
}
.container {
    width: 1160px;
    margin: 0 auto;
}
.icon {
    background: url('../img/icons/icons-sprite.png') no-repeat;
}
h3.news-title {
    font-weight: 700;
    font-size: 18px;
    text-indent: 12px;
}
.header{
    background-image: url("../img/header-background.jpg");
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 980px;
}
.spread{
    width: 100%;
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
}
.top-nav-bar{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 120px;
    width: 1160px;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration: none;
}
ul {
    list-style: none;
}
.logo{
    display: flex;
    min-width: 140px;
    align-items: center;
    margin-left: 0;
}
.logo-img{
    padding: 8px 6px 0 10px;
}
.logo-text-link {
    color: #fff;
    font-size: 32px;
}
.logo-text-highlight{
    color: #18cfab;
    font-weight: 700;
}
.top-menu{
    margin-left: 100px;
    width: 680px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 120px;
}
.top-menu-item:hover{
    border-bottom: 2px solid #18cfab;
}
.top-menu-link{
    display:inline-block;
    vertical-align: middle;
    padding:47px 8px;
    color:#fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}
.top-menu-link:hover{
    color:#18cfab;
    padding-bottom:45px;
}
.search-btn{
    margin-left:20px;
    padding:48px 0;
}
.search-link{
    padding:30px;
    color:#fff;
    font-size: 20px;
}
.search-link:hover{
    color:#18cfab;
}
/*----------------------Section Intro-----------------*/
.promo {
    display:flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    flex-direction: column;
}
.promo-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 245px;
}
.promo-title{
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
.promo-title strong {
    color: #18CFAB;
}
.promo-slogan{
    display: block;
    font-size: 78px;
    line-height: 100px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 22px 0;
}
.promo-buy {
    font-size: 35px;
    font-weight: 400;
    color: #eee;
}
.promo-btn-container{
    margin-top:140px;
    margin-bottom: 240px;
}
.promo-btn-container .btn:first-child {
    margin-right: 30px;
}
.btn-blue {
    background-color: #00CBF6;
}
/*-----------------Section Benefits--------------*/
.benefits-list {
    display: flex;
    flex-wrap: wrap;
}
.benefits-container {
    margin: 85px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: flex-end;
    width: 290px;
    height: 160px;
}
.benefits-item {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    flex-grow: 1;
    display: flex;
}
.benefits-icon {
    display: block;
    height:100px;
    margin: auto 0;
}
.icon--finger {
    background-position: -83px 0;
    width: 58px;
}
.icon--diamond {
    background-position: -166px 0;
    width: 93px;
}
.icon--light {
    background-position: -284px 0;
    width: 60px;
}

.icon--devices {
    background-position: -369px 0;
    width: 99px;
}
.benefits-item:nth-child(odd) {
    background-color: #1C2A33;
    color:#18CFAB;
    border-top: 7px solid #fff;
}
.benefits-item:nth-child(even) {
    background-color: #18CFAB;
    color:#fff;
    border-top: 7px solid #fff;
}
.benefits-title {
    margin-top: 45px;
}
/*-----------------Section Services--------------*/
.services {
    padding-top: 85px;
}
.services>.container {
    display: flex;
    flex-direction: column;
}
.services-tabs {
    display: flex;
    margin-top: 70px;
}
.services-tabs-title {
    flex-grow: 1;
    display: block;
    background-color: #f8fcfe;
    border: 1px solid #eff0f1;
    padding: 30px 0;
    text-align: center;
    cursor: pointer;
    position: relative;
    color: #717171;
}
.services-tabs-title:hover {
    border: 1px solid #18cfab;
}
.services-tabs-title.active {
    background-color: #18cfab;
    color:#fff;
    border-color: #18cfab;
}
.services-tabs-title.active .services-triangle {;
    display: block;
    width:10px;
    height: 10px;
    border-right: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
    top:100%;
    position: absolute;
    transform: rotate(45deg);
    left:50%;
    margin-left:-5px;
    margin-top:-5px;
    background-color: #18cfab;
}
.services-list {
    display: block;
    margin-top: 25px;
}
.services-item {
    display: none;
    line-height: 1.84;
    color:#777;
    font-weight: 300;
}
.services-item.active {
    display: block;
}
.services-item >img {
    float: left;
    margin-right:25px;
    margin-bottom: 25px;
}
/*--------------------Section Buy------------------------------*/
.buy-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url("../img/buy-bg.jpg");
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    color:#b8b8b8;
    text-align: center;
    padding: 125px 0;
    margin-top: 100px;
    width: 100%;
}
.buy-title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #18cfab;
    margin-bottom: 35px;
}
.buy-details {
    margin-bottom: 75px;
    font-size: 16px;
    font-weight: 400;
}
/*--------------------Section Work------------------------------*/
.work {
    background-color: #f8fcfe;
    padding-bottom: 50px;
}
.work>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work .section-title {
    margin-top: 95px;
}
.work-categories-list {
    display: flex;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    margin-top: 70px;
    margin-bottom: 70px;
}
.work-category-item {
    border: 1px solid #ebebeb;
    padding: 20px;
    color:#717171;
    font-size: 14px;
}
.work-category-item:first-child {
    padding: 20px 30px;

}
.work-category-item:hover,
.work-category-item.active{
    color: #18CFAB;
    cursor: pointer;
    border: 1px solid #18CFAB ;
}
.work-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 70px;
}
.work-img-card {
    background-color: transparent;
    width: 285px;
    height: 206px;
    perspective: 1000px;
}
.work-img-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.work-img-card:hover .work-img-card-inner {
    transform: rotateY(180deg);
}
.work-img-card-front, .work-img-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.work-img {
    width: 100%;
    height: 100%;
    margin-right: -1px;
    margin-bottom: -1px;
    margin-top: -1px;
}
.work-img-card-back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #f8fcfe;
    padding-top: 45px;
    padding-bottom: 50px;
    text-align: center;
    box-shadow: 0 -2px 0 #18CFAB ;
    border: 1px solid #f8fcfe;
    transform: rotateY(180deg);
}
.btn-link, .btn-search {
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #18CFAB;
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
}
.btn-link {
    margin-right: 5px;
    background-position: -719px 12px;
}
.btn-search {
    background-position: -849px 14px;
}
.btn-link:hover{
    background-color: #18CFAB;
    background-position: -700px 12px;
}
.btn-search:hover{
    background-color: #18CFAB;
    background-position: -823px 14px;
}


.img-category {
    font-weight: 300;
    font-size: 12px;
    color: #8a8a8a;
    margin-top: 4px;
    display: block;
}
.img-title {
    margin-top: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    font-weight: 700;
    font-size: 14px;
}
.btn-load-more {
    padding:20px;
    width:165px;
    border: none;
}
.btn-load-more span {
    display: inline-block;
    vertical-align: middle;
}
.btn-load-more span::before{
    content: '';
    display: inline-block;
    width:16px;
    height: 16px;
    background-image: url("../img/icons/icons-sprite.png");
    background-position: -562px 0;
    margin-right: 15px;
    vertical-align: middle;
}
/*----------------------------Section Blog-------------------------*/
.news{
    margin-top: 85px;
    margin-bottom: 130px;
}
.news-list {
    display: grid;
    grid-template-columns: 265px 265px 265px 265px;
    grid-gap: 30px;
    grid-row-gap: 50px;
    margin-top:70px;
}
.news-item{
    position: relative;
    background-color: #f8fcfe;
    display: block;
}
.news-img {
    width:100%;
}
.news-date {
    box-sizing: border-box;
    position: absolute;
    right:0;
    top:0;
    width:70px;
    height:70px;
    background-color: #203e38;
    color:#fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
    padding: 15px;
}
.news-info {
    padding:15px 10px;
}
.news-title {
    margin-bottom: 15px;
}
.news-author,
.news-comments {
    font-weight: 300;
    font-size: 14px;
    color:#777;
    display: inline-block;
    vertical-align: center;
}
.news-comments {
    padding-left: 15px;
}
.news-author {
    padding-right: 17px;
    border-right: 1px solid #777;
}
.news-item:hover .news-date {
    background-color: #18CFAB;
}
.news-item .news-title{
    color: #717171;
}
.news-item:hover .news-title {
    color: #18CFAB;
}
/*--------------------------Section Testimonials-------------------------------*/
section.testimonials{
    width: 100%;
    background-image: url("../img/testimonials-bg.jpg");
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    color:#fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
.testimonials .section-title{
    color:#fff;
}
.testimonials-main {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quotes {
    display: inline-block;
    background-position: -493px 0;
    width: 44px;
    height: 30px;
    margin-bottom: 27px;
}
.testimonials-carousel{
    width: 100%;
}
.testimonial-item{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.testimonial-text {
    text-align: center;
    margin-bottom: 45px;
    line-height: 1.875;
    font-size: 16px;
    color: #bbb;
}
.respondent-photo-big{
    border-radius: 50%;
    box-shadow: 0 0 0 12px rgba(31, 218, 181, 0.2);
    margin-bottom: 50px;
    width:140px;
    height: 140px;
}
.respondent-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    color: #18CFAB;
}
.respondent-profession {
    margin-bottom: 20px;
    color: #bbb;
}
.respondents-nav{
    display: flex;
    align-items: center;
    width: 480px;
    justify-content: space-between;
}
.respondents-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 420px
}
.respondent-photo-small {
    border-radius: 50%;
    box-shadow: 0 0 0 6px rgba(31, 218, 181, 0.2);
    background-clip: border-box;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
div.respondents-item{
    position: relative;
}
.slick-current>img.respondent-photo-small{
    position: absolute;
    bottom: 12px;
}
.slick-track {
    width: 900px;
    padding: 20px 0;
}
.arrow {
    display: flex;
    width:150px;
    height: 30px;
    border: 1px solid #bbb;
    padding:0;
    border-radius: 0;
    background-color: transparent;
    margin:0 10px;
}
.arrow:hover{
    background-color: #18CFAB;
    border-color: #18CFAB;
}
.arrow--left {
    background-position: -595px 7px;
}
.arrow--left:hover{
    background-position: -649px 7px;
}
.arrow--right {
    background-position: -623px 7px;
}
.arrow--right:hover{
    background-position: -677px 7px;
}
/*----------------------------Section Gallery------------------------------*/
.gallery {
    display: flex;
    align-items: center;
}
.grid {
    margin-top: 40px;
    display: block;
    position:relative;
}
.grid-item {
    margin-bottom: 17px;
    overflow: hidden;
}
.gallery-item{
    position: relative;
}
.gallery .section-title {
    margin-top:100px;
    margin-bottom: 75px;
}
.medium {
    width:180px;
    height: 134px;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 5px;
}
.small {
    width:120px;
    height: 89px;
    overflow: hidden;
    margin-right: 2px;
    margin-bottom: 2px;
}
.small img {
    width:100%;
    height: 100%;
}
.img-container {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:370px;
}
.gallery-item-overlay {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.gallery-item:hover .gallery-item-overlay {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}
.gallery-hover-item {
    color: white;
    background-color: #14b9d5;
    border: none;
    width:40px;
    height: 40px;
}
.gallery-hover-item:first-child {
    margin-right: 20px;
}

.hover-item {
    font-size: 18px;
}
.hover-item:hover{
    background-color: #0f8fa6;;
}
.btn-cause-masonry {
    margin: 70px 0;
    display: flex;
    justify-content: center;
}
/*------------------------------Footer----------------------------*/
.footer {
    width: 100%;
    margin-top: 82px;
    box-sizing: border-box;
    padding: 49px 10px;
    text-align: center;
    background-color: #22353f;
    color:#aeaeae;
    font-weight: 300;
    font-size: 14px;
}
.footer a {
    color:#18CFAB
}
/*------------------------------Arrow-Up------------------------------*/
#arrow-up {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    bottom: 30px;
    right: 40px;
    width: 70px;
    height: 70px;
    font-size: 22px;
    background-color: #22353F;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 #fff;
    cursor: pointer;
    color: #bbb;
}
#arrow-up:hover {
    background-color: #2C4551;
    color: #fff;
}
/*------------------------------Animation----------------------------*/
.loading, .loading2 {
    display: none;
}
.spinner {
    position: relative;
    width: 57px;
    height: 57px;
    margin: 0 auto;
}
.bubble-1,
.bubble-2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #18CFAB;
}
.bubble-2 {
    top: auto;
    bottom: 0;
}
.spinner {
    animation: loadingI 2s linear infinite;
}
.bubble-1, .bubble-2 {
    animation: bounce 2s ease-in-out infinite;
}
.bubble-2 {
    animation-delay: -1.0s;
}
@keyframes loadingI {
    100% {transform: rotate(360deg);}
}
@keyframes bounce  {
    0%, 100% {transform: scale(0.0);}
    50% {transform: scale(1.0);}
}